#
# @file /etc/systemd/system/sentrylab-zfs.timer
# @author CmPi <cmpi@webe.fr>
# @repo https://github.com/CmPi/SentryLab-PVE
# @brief Déclenche le relevé ZFS toutes les 15 minutes
#

[Unit]
Description=Timer pour ZFS SentryLab (15 min)

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=sentrylab-zfs.service

[Install]
WantedBy=timers.target