#
# @file /etc/systemd/system/sentrylab-smart.timer
# @author CmPi <cmpi@webe.fr>
# @repo https://github.com/CmPi/SentryLab-PVE
# @brief Déclenche l'usure et la santé SMART toutes les heures
#

[Unit]
Description=Timer pour SMART SentryLab (12 heures)

[Timer]
OnBootSec=5min
OnUnitActiveSec=12h
Unit=sentrylab-smart.service

[Install]
WantedBy=timers.target