#
# @file /etc/systemd/system/sentrylab-temp.timer
# @author CmPi <cmpi@webe.fr>
# @repo https://github.com/CmPi/SentryLab-PVE
# @brief Déclenche le relevé des températures toutes les 3 minutes
#

[Unit]
Description=Timer pour les températures SentryLab (3 min)

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
Unit=sentrylab-temp.service

[Install]
WantedBy=timers.target