#
# @file /etc/systemd/system/sentrylab-smart.service
# @author CmPi <cmpi@webe.fr>
# @repo https://github.com/CmPi/SentryLab-PVE
# @brief Service d'exécution combinée Wear + Health (optimise le réveil disque)
#

[Unit]
Description=SentryLab NVMe Wear and Health Check
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sentrylab/wear.sh
ExecStart=/usr/local/bin/sentrylab/health.sh